.logo {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.header-logo-block {
    margin-left: 10%;
}

.header-nav-block {
    margin-right: 10%;
    padding: 20px 0 0;
}

.nav-ul{
    list-style-type: none;
}

.nav-ul li{
    padding: 0 20px 0;
    display: flex;
    align-items: center;
}

.nav-ul li:hover{
    text-decoration: underline;
}

.footer-col{
    border-top: 1px solid black;

}

.footer-block{
    margin-left: 10%;
    margin-right: 10%;
}

.footer-col:nth-child(n+1){
    margin-left: 20px;
}

.footer-links{
    text-align: left;
}

.footer-space{
    height: 3em;
}

.media-icon{
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.media-icon:nth-child(n+1){
    margin-left: 10px;
}

.last-line{
    border-top: 1px solid black;
    margin-left: 6px;
    margin-top: 20px;
}

.last-line .col{
    margin: 15px;
}

.last-line .col:first-child{
    padding-left: 10%;
    text-align: left;
}

.last-line .col:last-child{
    padding-right: 10%;
    text-align: right;
}

.cover-video{
    width: 100vw;
    height: 110vh;
}

.text-content{
    width: 60vw;
}

.saas-intro-title{
    text-align: center;
}

.saas-intro-content{
    text-align: left;
}

.saas-intro-col:nth-child(n+1){
    margin-left: 10px;
}

.saas-intro-btn{
    border-radius: 0;
    border: 0;
    padding: 15px;
    background-color: #536ee5;
}

.saas-intro-space{
    height: 80px;
}

.saas-intro-space2{
    height: 60px;
}

.home-col{
    width: 100vw;
}

.get-start-block{
    height: 80vh;
    width: 100vw;
    background-color: #333333;
    color: white;
}

.get-start-block .col-6 .image{
    object-fit: cover;
    height: 80vh;
}

.get-start-block .col-6 .button{
    border: 2px solid white;
    width:fit-content;
    padding: 15px 25px;
    border-radius: 0px;
    
}

.get-start-block .row .no1{
    padding: 0px 100px;
    text-align: left;
}