.logo {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.header-logo-block {
    margin-left: 10%;
}

.header-nav-block {
    margin-right: 10%;
    padding: 20px 0 0;
}

.nav-ul{
    list-style-type: none;
}

.nav-ul li{
    padding: 0 20px 0;
    display: flex;
    align-items: center;
}

.nav-ul li:hover{
    text-decoration: underline;
}