
.cover-video{
    width: 100vw;
    height: 110vh;
}

.text-content{
    width: 60vw;
}

.saas-intro-title{
    text-align: center;
}

.saas-intro-content{
    text-align: left;
}

.saas-intro-col:nth-child(n+1){
    margin-left: 10px;
}

.saas-intro-btn{
    border-radius: 0;
    border: 0;
    padding: 15px;
    background-color: #536ee5;
}

.saas-intro-space{
    height: 80px;
}

.saas-intro-space2{
    height: 60px;
}

.home-col{
    width: 100vw;
}

.get-start-block{
    height: 80vh;
    width: 100vw;
    background-color: #333333;
    color: white;
}

.get-start-block .col-6 .image{
    object-fit: cover;
    height: 80vh;
}

.get-start-block .col-6 .button{
    border: 2px solid white;
    width:fit-content;
    padding: 15px 25px;
    border-radius: 0px;
    
}

.get-start-block .row .no1{
    padding: 0px 100px;
    text-align: left;
}