$aspect-ratio: 16 / 9;

.cover-image-container {
  position: relative;

  .cover-image {
    width: 100vw;
    height: calc(90vw / #{$aspect-ratio});
    object-fit: cover;
  }

  .cover-image-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    );
  }

  .cover-image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2rem;
    z-index: 1;
  }
}
.saas-intro {

  .saas-col {
    padding: 20px 20px;
  }
}

.comparsion-graph {
  width: 60%;

  @media (max-width: 992px) {
    width: 90%;
  }

}

.testimonial-bgcolor {
  background-color: #e4e4e4;
}

.testimonial-block {
  width: 70%;

  h2 {
    font-size: 2.3rem;
  }
}

.customer-comment {
  background-color: white;
  border: #d6d6d6 solid 2px;

  div {
    width: 40%;
    padding: 40px 0;

    @media (max-width: 992px) {
      width: 98%;
    }
  }

  .comment-text {
    text-align: left;
  }

  .customer-name {
    text-align: end;
  }

  

}

.spacing-50 {
  height: 50px;
}

.left-side {
  padding: 40px 100px;
  text-align: left;

  h1 {
    font-size: 3.5rem;

    @media (max-width: 992px) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.5rem;
  }

}

.right-side {
  overflow: hidden;
  padding: 0px 0px;

  .image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
}
