$cover-image-height: 90vh;

.cover-image-container {
  position: relative;

  .cover-image {
    width: 100vw;
    height: $cover-image-height;
    object-fit: cover;
  }

  .cover-image-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
  }

  .cover-image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2rem;
    z-index: 1;
  }
}

.testimonial-bgcolor {
  background-color: #e4e4e4;
}

.testimonial-block {
  width: 70%;

  h2 {
    font-size: 2.3rem;
  }
}

.customer-comment {
  background-color: white;
  border: #d6d6d6 solid 2px;

  div {
    width: 40%;
    padding: 40px 0;
  }

  .comment-text {
    text-align: left;
  }

  .customer-name {
    text-align: end;
  }
}

.spacing-50 {
  height: 50px;
}

.left-side {
  padding: 0 150px;
  text-align: left;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}